

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Catálogo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="mainNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/lista">Lista de Livros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dados">Cadastro de Livros</a>
      </li>
    </ul>
  </div>
</nav>

<h3><br>
  Aí está o projeto configurado, codificado e sem apresentar erro, mas sem funcionar como deveria.<br><br>Os componentes estão configurados e funcionando. Até a 1ª Parte do projeto foi td ok.
  <br> Mas infelizmente, na 2ª Parte a rendenização dos componentes não funcionou após criar as rotas.
  <br><br>
  Tentei muitas coisas, muitas mudanças. Pesquisei a documentação do Angular, mas tudo que foi sugerido eu fiz e mesmo assim não funcionou.
  <br><br>
  A versão do Angular que uso é a 18. E no material do curso nos ensinam com a versão 14. Tem muita coisa que é diferente. Isso devia ser revisto.<br>
  Fora o fato do video explicativo do projeto não estar funcionando.
</h3>

<router-outlet></router-outlet>

<!-- roteamento não está funcionando







-->



